<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2012/07/originaldixielandjazzbandwithalbernard-stlouisblues3.mp3 - http://mickey3cutter.com/test/corporate/wp-content/uploads/2012/07/originaldixielandjazzbandwithalbernard-stlouisblues3.mp3`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2012/07/manhattansummer3.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2012/07/manhattansummer3.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2013/12/2014-slider-mobile-behavior3.mov - http://mickey3cutter.com/test/corporate/wp-content/uploads/2013/12/2014-slider-mobile-behavior3.mov`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/413.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/413.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/333.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/333.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/233.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/233.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/163.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/163.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/1413.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/1413.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/2213.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/2213.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/3213.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/3213.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/1513.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/1513.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/113.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/113.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/213.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/213.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/313.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/313.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/413.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/413.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/513.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/513.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/613.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/613.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/713.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/713.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/813.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/813.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/video3.mp4 - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/video3.mp4`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/video3.ogv - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/video3.ogv`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/video3.webm - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/video3.webm`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/logo3.png - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/logo3.png`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/favicon3.ico - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/01/favicon3.ico`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/15.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/15.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/25.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/25.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/35.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/35.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/54.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/54.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/113.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/113.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/213.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/213.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/313.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/313.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/43.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/43.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/513.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/513.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/63.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/63.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/123.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/123.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #36</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/223.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/223.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #37</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/323.jpg - http://mickey3cutter.com/test/corporate/wp-content/uploads/2015/02/323.jpg`...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #38</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2349 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #39</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2350 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #40</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2351 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #41</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?page_id=2177 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #42</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://wpthemetestdata.wordpress.com/?p=555 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #43</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://wpthemetestdata.wordpress.com/?p=559 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #44</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://wpthemetestdata.wordpress.com/?p=575 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #45</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2228 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #46</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2239 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #47</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2251 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #48</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2275 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #49</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2285 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #50</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2320 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #51</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?page_id=2324 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #52</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2352 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #53</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2353 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #54</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2354 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #55</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2355 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #56</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2356 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #57</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2357 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #58</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2358 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #59</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2359 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #60</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2363 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #61</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?post_type=wpcf7_contact_form&#038;p=4 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #62</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?post_type=wpcf7_contact_form&#038;p=5 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #63</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/ - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #64</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://noeltest.wordpress.com/?p=188 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #65</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?post_type=work&#038;p=2002 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #66</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?post_type=work&#038;p=2018 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #67</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?post_type=work&#038;p=2022 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #68</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?post_type=work&#038;p=2026 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #69</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?post_type=wpcf7_contact_form&#038;p=2098 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #70</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2343 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #71</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/miera/?post_type=wpcf7_contact_form&#038;p=5 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #72</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2350 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #73</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- http://mickey3cutter.com/test/corporate/?p=2354 - `...</div>
<div class="progress-msg"><b>CREATING</b> `` `Post`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
